.about_me {
  h2 {
    text-align: center;
    color: black;
    margin-top: 50px;
  }

  .about_me-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    max-height: 1000px;

    &_text-conteiner {
      width: 550px;
      min-height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &_contacts {
        position: absolute;
        top: 380px;
        left: 30px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        &_image {
          background-color: rgb(165, 96, 96);
          height: 25px;
          width: 25px;
        }
      }

      &_text {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

        h2 {
          font-size: 18px;
          padding: 10px 15px;
        }

        p {
          padding: 20px 15px;
          font-size: 14px;
        }
      }
    }

    &_photo {
      width: 520px;
      height: 400px;
      padding: 20px 20px;

      &_image {
        width: 100%;
        height: 100%;
      }
    }

  }

  @media screen and (max-width: 790px) {
    .about_me-wrapper {
      flex-wrap: wrap;
      justify-content: center;

      &_text-conteiner {
        min-height: 0;
        align-items: flex-start;
        width: 550px;

        &_contacts {
          margin-top: 30px;
          margin-left: 30px;
          position: static;

        }

        &_text {
          padding-top: 20px;

          h2 {
            font-size: 18px;
            padding: 10px 30px;
          }

          p {
            padding: 20px 30px;
            font-size: 14px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {

    .about_me-wrapper {
      &_text-conteiner {

        &_text {
          padding-top: 10px;

          h2 {
            font-size: 18px;
            padding: 10px 20px;
          }

          p {
            padding: 20px 20px;
            font-size: 14px;
          }
        }
      }

      &_photo {
        height: 370px;
      }
    }
  }

  @media screen and (max-width: 490px) {

    .about_me-wrapper {
      &_photo {
        height: 320px;
      }
    }
  }


  @media screen and (max-width: 320px) {

    .about_me-wrapper {

      &_photo {
        height: 270px;
      }
    }
  }


}