.featured_work {
  padding: 20px 20px;

  &_title {
    text-align: center;
    color: black;
  }

  &_wrapper {
    padding-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;

    &_item {
      h3 {
        margin-top: 20px;
        text-align: center;
      }

      width: 520px;
      max-height: 400px;

      .img_box {

        position: relative;
        max-width: 500px;
        height: 342px;

        img {

          width: 100%;
          height: 100%;
        }

        p {
          padding: 0 20px 0 20px;
          width: 100%;
          position: absolute;
          bottom: 25px;
          color: white;
        }
      }
    }
  }
}


@media screen and (max-width: 935px) {
  .list_parent {
    li {
      font-size: 16px !important;
    }
  }
}

@media screen and (max-width: 830px) {
  .list_parent {
    li {
      font-size: 14px !important;
    }
  }
}

@media screen and (max-width: 790px) {
  .list_parent {
    li {
      font-size: 14px !important;
    }
  }
  .featured_work_wrapper {
    flex-wrap: wrap;

    &_item {
      width: 480px;
    }
  }

}

@media screen and (max-width: 735px) {
  .list_parent {
    li {
      font-size: 13px !important;
    }
  }
}

@media screen and (max-width: 330px) {
  .img_box {
    max-width: 350px !important;
    height: 200px !important;

    p {
      font-size: 10px;
    }
  }
}