.header {
  z-index: 993;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
  height: 100px;

  transition: background-color 0.5s ease;


  .burger_menu {
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    .burger {
      margin-top: 16px;
      position: relative;
      width: 35px;
      height: 4px;
      background-color: white;
      transition: all 0.3s ease;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 35px;
        height: 4px;
        background-color: white;
        transition: all 0.3s ease;
      }

      &:before {
        top: -10px;
      }

      &:after {
        top: 10px;
      }
    }

    &.active .burger {
      background-color: transparent;

      &:before {
        transform: translateY(10px) rotate(45deg);
      }

      &:after {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }

  .contacts {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    &_image {
      cursor: pointer;
      height: 48px;
      width: 48px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_navbar {
    color: white;

    .list_parent {
      gap: 25px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;

      li {
        transition: 0.3s;
        cursor: pointer;
        font-size: 20px;

        &:hover {
          font-size: 21px;
          color: aqua;
        }
      }
    }
  }

  .logo {
    width: 50px;
    height: 50px;
    background-color: white;
  }
}

.mobile_menu {
  padding: 20px 20px;
  z-index: 992;
  top: 100px;
  position: fixed;
  border-right: 2px solid #014b4b;
  border-top: 2px solid #014b4b;
  background: rgba(0, 0, 0, 0.80);
  width: 70%;
  left: -70%;
  height: 1000px;
  transition: 0.5s;

  .close {
    text-align: right;
  }

  .mobile_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    li {
      transition: 0.3s;
      color: white;
      cursor: pointer;

      &:hover {
        color: aqua;
      }
    }
  }

  .mobile_contacts_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    position: fixed;
    bottom: 50px;
  }
}

.active {
  left: 0;
}

@media screen and (max-width: 725px) {
  .header {
    justify-content: space-between;
  }
  .header_navbar {
    display: none;
  }

  .burger_menu {
    display: block !important;
  }
}

@media screen and (max-width: 625px) {
  .promo_section_content_text {
    font-size: 45px !important;
  }
}

@media screen and (max-width: 325px) {
  .promo_section_content_text {
    font-size: 35px !important;
  }
}


